body {
    display: flex;
    flex-direction: column;
    
}

.card {
    display: block;
    background-color:	#FFFFE0;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 80vw;
  }

  #secretWord {
    font-size: 50px;
  }

  #secretWordText {
    font-size: 50px;
  }